body{
    font-family: Roboto, 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--navbar----*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background-color: #001725;
    color: #94A7D5;
    height: 24px;
}

ul, a{
    list-style: none;
    text-decoration: none;
    margin: 0;

}
header a{
    color: #94A7D5;
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* ---hero section---*/

.hero-section{
    background-color: #94A7D5;
    display: flex;
    flex-direction: row;
    padding: 28px 20%;
    gap: 24px;
    align-items: center;
    justify-content: center;

}
.hero-img{
    height: 200px;
    width: 200px;
    background-color: #486488;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}
.hero-img img{
    width: 100%;
    height: 100%;

}
.hero-text{
    color: #001725;
    padding: 20px;
    
}
.hero-text h2{
    font-size: 48px;
    font-weight: 900;
}
.hero-text p{
    font-size: 24px;
}

/*--skill section--*/

.skill-section{
    background-color: #06215A;
    padding: 60px 16px;
}
.skills{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    color: #94A7D5;


}
.skill-detail{
    display: flex;
    justify-content: center;
}
.skill-detail p{
    width: 40%;
    color: #94A7D5;
    font: 300 16px;
}
.progress{
    position: relative;
    width: 410px;
    height: 38px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.progress-fill{
   
    height: 100%;
    background-color: #001725;
}.progress-text{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font: bold 14px;
}
.all-progress{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
/* portfolio section */
.portfolio-section{
    background-color: #486488;
    padding: 60px 16px;
}
.portfolio-section h2{
    text-align: center;
    color: #001725;
}
.portfolio-section img{
    width: 300px;
    height: auto;
}
.portfolio{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.port{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.port a{
    color: #94A7D5;
    border: 1px solid #001725;
    padding: 6px 16px;
    border-radius: 12px;
    background-color: #001725;
}

/*contact us*/

.contact-us{
    background-color: #94A7D5;
}
.contact-us h2{
    text-align: center;
}
.contact{
    display: flex;
    justify-content: center;
}
.contact a img{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
/*footer*/